<template>
  <div>
       <TheHeader @sidenavToggle="displaySidenav = !displaySidenav" />
    <Nuxt />
  </div>
</template>


<style>
html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}
</style>
