<template>
  <div class="about-page">
    <h1>This is my absolutely fantastic "About Me" Page!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum ut mollitia officia praesentium magnam dolores facere, saepe porro magni, aliquam error repellendus exercitationem, qui fugit similique dolorem voluptatum. Provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum ut mollitia officia praesentium magnam dolores facere, saepe porro magni, aliquam error repellendus exercitationem, qui fugit similique dolorem voluptatum. Provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum ut mollitia officia praesentium magnam dolores facere, saepe porro magni, aliquam error repellendus exercitationem, qui fugit similique dolorem voluptatum. Provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum ut mollitia officia praesentium magnam dolores facere, saepe porro magni, aliquam error repellendus exercitationem, qui fugit similique dolorem voluptatum. Provident.</p>
  </div>
</template>

<style scoped>
.about-page {
  text-align: center;
  padding: 30px;
}
</style>